<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>node api</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div id="app">
      <h1>api</h1>
      <div>用户名： <input type="text" placeholder="" v-model="body.name" /></div>
      <div>邮箱： <input type="mail" v-model="body.mail" /></div>
      <div>密码： <input type="password" v-model="body.password" /></div>
      <button type="button" @click="submit">登陆</button>
    </div>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          body:{},
        },
        methods: {
          
          submit: function() {
            axios({
              url: 'http://127.0.0.1:7001/loginIn',
              method: 'POST',
              data: app.body,
            })
              .then(function(response) {
                console.log(response);
              })
              .catch(function(error) {
                console.log(error);
              });
          }
        },
        mounted() {
          // this.submit();
        }
      });
    </script>
  </body>
</html>
