.content {
  width: 500px;
  margin: 0 auto;
  transform: translateY(50%);
  h1 {
    text-align: center;
    color: #666;
  }
  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .full-width {
    width: 100%;
  }
  .sign-in {
    display: block;
    margin: 0 auto;
  }
  .sign-go {
    color: #333;
  }
}
